<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Support-Case</display-name>
	<context-param>
		<param-name>ag.carnot.processportal.integration.LIVE_DIAGRAMS_URL</param-name>
		<param-value>/eclipse/servlet/DiagramServlet</param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_LOCALE</param-name>
		<param-value>en_US</param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_WORKING_FOLDER</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_DOCUMENT_FOLDER</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>WORKING_FOLDER_ACCESS_ONLY</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_IMAGE_DIR</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_LOG_DIR</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_LOG_LEVEL</param-name>
		<param-value>INFO</param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_SCRIPTLIB_DIR</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_RESOURCE_PATH</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_MAX_ROWS</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_MAX_CUBE_LEVELS</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_CUBE_MEMORY_SIZE</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_OVERWRITE_DOCUMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_CONFIG_FILE</param-name>
		<param-value>WEB-INF/viewer.properties</param-value>
	</context-param>
	<context-param>
		<param-name>BIRT_VIEWER_PRINT_SERVERSIDE</param-name>
		<param-value>ON</param-value>
	</context-param>
	<context-param>
		<param-name>HTML_ENABLE_AGENTSTYLE_ENGINE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>ag.carnot.processportal.integration.REPORTING_URL</param-name>
		<param-value>../../../frameset?__report=reports/carnot/DefinitionOverview.rptdesign</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.VIEW_MAPPINGS</param-name>
		<param-value>*.xhtml;*.jspx</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/config/ipp/jsf/faces-config.xml,/WEB-INF/config/ipp/jsf/processportal-beans.xml</param-value>
	</context-param>
	<context-param>
		<param-name>carnot.login.APPLICATION_ID</param-name>
		<param-value>processPortal</param-value>
	</context-param>
	<context-param>
		<param-name>carnot.login.ADMINISTRATOR_ROLE_REQUIRED</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>carnot.login.MODEL_REQUIRED</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>carnot.login.HEADING</param-name>
		<param-value>portal-common-messages#portalFramework.title</param-value>
	</context-param>
	<context-param>
		<param-name>carnot.SESSION_LISTENERS</param-name>
		<param-value>ippRADProcessPortalSessionInitializer,businessControlCenterInitializer,ippAdmPortalSessionListenerBean</param-value>
	</context-param>
	<context-param>
		<param-name>ag.carnot.processportal.integration.BUSINESSCONTROLCENTER_URL</param-name>
		<param-value>../../../plugins/common/portalFramework.iface</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.sessionExpiredRedirectURI</param-name>
		<param-value>/ipp/common/ippPortalLogout.jsp</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.uploadMaxFileSize</param-name>
		<param-value>10485760</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.RESOURCE_RESOLVER</param-name>
		<param-value>ag.carnot.web.jsf.common.PortalPluginFaceletsResourceResolver</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.delegateNonIface</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.synchronousUpdate</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.concurrentDOMViews</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>com.icesoft.faces.ignoreUserRoleAttributes</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.trinidad.DISABLE_DIALOG_OUTCOMES</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/config/ipp/spring/*-context.xml,classpath*:META-INF/spring/*-context.xml</param-value>
	</context-param>
	<filter>
		<filter-name>adfFaces</filter-name>
		<filter-class>org.apache.myfaces.trinidad.webapp.TrinidadFilter</filter-class>
	</filter>
	<filter>
		<filter-name>BirtSessionFilter</filter-name>
		<filter-class>com.infinity.bpm.portal.bcc.reporting.BirtSessionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>portalPluginContentFilter</filter-name>
		<filter-class>com.infinity.bpm.portal.plugin.support.PortalPluginContentFilter</filter-class>
	</filter>
	<filter>
		<filter-name>IppPortalLoginFilter</filter-name>
		<filter-class>com.infinity.bpm.portal.common.filter.LoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>IppPortalCharsetFilter</filter-name>
		<filter-class>com.infinity.bpm.ui.web.viewscommon.common.CharsetFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adfFaces</filter-name>
		<servlet-name>faces</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BirtSessionFilter</filter-name>
		<url-pattern>/frameset</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>portalPluginContentFilter</filter-name>
		<url-pattern>/plugins/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>portalPluginContentFilter</filter-name>
		<url-pattern>/skins/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IppPortalLoginFilter</filter-name>
		<url-pattern>*.iface</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IppPortalCharsetFilter</filter-name>
		<url-pattern>/uploadHtml</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.eclipse.birt.report.listener.ViewerServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.eclipse.birt.report.listener.ViewerHttpSessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.infinity.bpm.portal.common.listener.SessionContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.icesoft.faces.util.event.servlet.ContextEventRepeater</listener-class>
	</listener>
	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<servlet>
		<description>
		Equinox Bridge Servlet</description>
		<display-name>Equinox Bridge Servlet</display-name>
		<servlet-name>equinoxbridgeservlet</servlet-name>
		<servlet-class>
		org.eclipse.equinox.servletbridge.BridgeServlet</servlet-class>
		<init-param>
			<param-name>commandline</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>enableFrameworkControls</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>extendedFrameworkExports</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>frameworkLauncherClass</param-name>
			<param-value>org.eclipse.equinox.servletbridge.FrameworkLauncher</param-value>
		</init-param>
		<init-param>
			<param-name>carnotPlatformDir</param-name>
			<param-value>carnot-diagrams</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Jackrabbit Repository Startup Servlet</display-name>
		<servlet-name>jackrabbitRepositoryStartupServlet</servlet-name>
		<servlet-class>
		org.apache.jackrabbit.j2ee.RepositoryStartupServlet</servlet-class>
		<init-param>
			<param-name>repository-config</param-name>
			<param-value>/WEB-INF/jackrabbit/repository.xml</param-value>
		</init-param>
		<init-param>
			<param-name>repository-home</param-name>
			<param-value>c:/tmp/repository</param-value>
		</init-param>
		<init-param>
			<param-name>repository-name</param-name>
			<param-value>jackrabbit.repository</param-value>
		</init-param>
		<init-param>
			<param-name>java.naming.provider.url</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Jackrabbit Repository Servlet</display-name>
		<servlet-name>jackrabbitRepositoryServlet</servlet-name>
		<servlet-class>
		org.apache.jackrabbit.j2ee.RepositoryAccessServlet</servlet-class>
		<init-param>
			<param-name>repository-name</param-name>
			<param-value>jackrabbit.repository</param-value>
		</init-param>
		<init-param>
			<param-name>java.naming.provider.url</param-name>
			<param-value></param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Jackrabbit Repository Servlet (Simple Webdav)</display-name>
		<servlet-name>jackrabbitSimpleWebdavServlet</servlet-name>
		<servlet-class>
		org.apache.jackrabbit.j2ee.SimpleWebdavServlet</servlet-class>
		<init-param>
			<param-name>resource-path-prefix</param-name>
			<param-value>/jackrabbit/repository</param-value>
		</init-param>
		<init-param>
			<param-name>missing-auth-mapping</param-name>
			<param-value>anonymous:anonymous</param-value>
		</init-param>
		<init-param>
			<param-name>resource-config</param-name>
			<param-value>/WEB-INF/jackrabbit/webdav-config.xml</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Jackrabbit Repository Servlet (JCR over Webdav)</display-name>
		<servlet-name>jackrabbitJcrWebdavServlet</servlet-name>
		<servlet-class>
		org.apache.jackrabbit.j2ee.JCRWebdavServerServlet</servlet-class>
		<init-param>
			<param-name>resource-path-prefix</param-name>
			<param-value>/jackrabbit/server</param-value>
		</init-param>
		<init-param>
			<param-name>missing-auth-mapping</param-name>
			<param-value>anonymous:anonymous</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ViewerServlet</servlet-name>
		<servlet-class>
		ag.carnot.report.servlet.ViewerServlet</servlet-class>
		<init-param>
			<param-name>INFINITY_PD_DIAGRAM_URL</param-name>
			<param-value>..${LIVE_DIAGRAMS_URL}?processId=</param-value>
		</init-param>
		<init-param>
			<param-name>INFINITY_PI_DIAGRAM_URL</param-name>
			<param-value>..${LIVE_DIAGRAMS_URL}?processInstanceOid=</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>EngineServlet</servlet-name>
		<servlet-class>
		ag.carnot.report.servlet.BirtEngineServlet</servlet-class>
		<init-param>
			<param-name>INFINITY_PD_DIAGRAM_URL</param-name>
			<param-value>..${LIVE_DIAGRAMS_URL}?processId=</param-value>
		</init-param>
		<init-param>
			<param-name>INFINITY_PI_DIAGRAM_URL</param-name>
			<param-value>..${LIVE_DIAGRAMS_URL}?processInstanceOid=</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>faces</servlet-name>
		<servlet-class>
		javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>
		org.apache.myfaces.trinidad.webapp.ResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jspExecutor</servlet-name>
		<servlet-class>
		ag.carnot.web.jsf.processportal.ExecutorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MailConfirmationServlet</servlet-name>
		<servlet-class>
		ag.carnot.workflow.mail.servlets.MailApplicationReceptionServlet</servlet-class>
		<init-param>
			<param-name>successPage</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>errorPage</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>motu</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>motu</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>DmsContentServlet</servlet-name>
		<servlet-class>
		com.infinity.bpm.web.dms.DmsContentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<servlet-class>
		com.icesoft.faces.webapp.xmlhttp.PersistentFacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Blocking Servlet</servlet-name>
		<servlet-class>
		com.icesoft.faces.webapp.xmlhttp.BlockingServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>jaxws-servlet</servlet-name>
		<servlet-class>
		com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jersey-jaxrs-servlet</servlet-name>
		<servlet-class>
		com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>com.sun.jersey.api.core.ClassNamesResourceConfig</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.config.property.classnames</param-name>
			<param-value>com.infinity.bpm.rt.api.rest.interactions.UiInteractionsRestlet</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>carnot-spring-remoting</servlet-name>
		<servlet-class>
		org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/ipp/spring/carnot-spring-remoting-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>IPPPdfRendererServlet</servlet-name>
		<servlet-class>
		com.infinity.bpm.ui.web.viewscommon.views.document.pdf.PdfRenderer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>bccPdfRendererServlet</servlet-name>
		<servlet-class>
		com.infinity.bpm.portal.bcc.pdf.PdfRenderer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>bccUploadServlet</servlet-name>
		<servlet-class>
		com.icesoft.faces.component.inputfile.FileUploadServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>equinoxbridgeservlet</servlet-name>
		<url-pattern>/eclipse/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jackrabbitSimpleWebdavServlet</servlet-name>
		<url-pattern>/jackrabbit/repository/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jackrabbitJcrWebdavServlet</servlet-name>
		<url-pattern>/jackrabbit/server/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewerServlet</servlet-name>
		<url-pattern>/frameset/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewerServlet</servlet-name>
		<url-pattern>/run/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/preview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/parameter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/document</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/output</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EngineServlet</servlet-name>
		<url-pattern>/extract</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>faces</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/adf/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/plugins/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jspExecutor</servlet-name>
		<url-pattern>/executor.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MailConfirmationServlet</servlet-name>
		<url-pattern>/mail-confirmation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DmsContentServlet</servlet-name>
		<url-pattern>/dms-content/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<url-pattern>*.iface</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Persistent Faces Servlet</servlet-name>
		<url-pattern>/xmlhttp/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Blocking Servlet</servlet-name>
		<url-pattern>/block/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jaxws-servlet</servlet-name>
		<url-pattern>/services/soap/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jersey-jaxrs-servlet</servlet-name>
		<url-pattern>/services/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>carnot-spring-remoting</servlet-name>
		<url-pattern>/remoting/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IPPPdfRendererServlet</servlet-name>
		<url-pattern>/IPPPdfRenderer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bccPdfRendererServlet</servlet-name>
		<url-pattern>/bccPdfRenderer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bccUploadServlet</servlet-name>
		<url-pattern>/uploadHtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<res-ref-name>jdbc/AuditTrail.DataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>
